html,
body {
  height: 100%;
}

.fill-page{
  height: 100%;
  width: 100%;
}
.of-auto{
  overflow: auto;
}

body {
  display: -ms-flexbox;
  display: flex;
}

.cfb-color-background {
  background-color: #bf2c2c;
}

.cfb-color-primary {
  color: #ffdddd;
}


.masthead-brand {
  margin-bottom: 0;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

