html {
  overflow: hidden;
}

p {
  color: white;
}

.navbar-item > img {
  padding-right: 10px;
}

.header > img {
  max-width: 25%;
}

.title,
.subtitle {
  /* color: white; */
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 30px;
}

.navbar-item {
  color: white;
}

.hero {
  background-image: url("media/medic.jpg");
  background-size: cover;
  background-position: bottom;
}

