* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #999;
    background-image: linear-gradient(-45deg , #eed1d100, #870000);
}
#wrapper {
    display: flex;
    width: 300px;
    height: 550px;
    margin-top:100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(31,31,31,0.9);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #222;
    perspective: 800px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.login,
.register {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back {
    transform: rotateY( 180deg);
}
.flipped {
    transform: rotateY( 180deg);
}
h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
    color: #FFEEEE;
}
input {
    padding: 5px;
    margin: 15px;
    width: 80%;
    padding: 5px;
    padding-left: 35px;
    outline: none;
    border: none;
    background: none;
    color: #999;
    border-bottom: 1px solid #444;
}
button {
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    color: #fcfcfc;
    background:  #FC3020;
    border: 1px solid  #FC3020;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 8px;
    font-weight: bold;
    transition: all 0.5s ease;
}
button:hover {
    cursor: pointer;
    background: #fcfcfc;
    
    color: #FC3020;
}
.links {
    display: flex;
    flex: 1;
    max-height: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
}
.links a {
    text-decoration: none;
    color: #FFEEEE;
    padding: 5px;
}
.links a:hover {
    text-decoration: underline;
}
.login .links{
    padding-top: 20px;
}
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.fa {
    position: relative;
    right: -35px;
    transition: opacity 2s ease-in-out;
}
.flipped .login .fa {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
